<% if current_user.status == true %>
	<meta http-equiv="refresh" content="0;URL=/peticiones" />
	<div class="alert alert-danger" role="alert"><strong>Error!</strong> Modo Online activado</div>
<% end %>
