<div class="panel panel-danger">
  <div class="panel-heading">Permiso negado</div>
  <div class="panel-body">
   NO SE AH PODIDO ACCEDER POR QUE NO EXISTE UNA SESSION DE USUARIO INICIADA. <br><br> POR FAVOR, INICIE SESSION 
   <%= link_to  "AQUI" , new_user_session_path %><br>
  </div>
</div>  