<%= render '/renders/check_level' %>


<table class="styletable">
	<tr>
		<td width="auto">
			<div class="row">
			<div class="col-sm-6 col-md-12">
			<div class="thumbnail">
				<br><br>
			<center><font size=50><span class="glyphicon glyphicon-bullhorn"></span></font></center>
			<br>
			<div class="caption">
			<center><h3>COMUNICADOS</h3></center>
			<br>
			<p style="text-align: justify;">Recuerda que los comunicados deben ser claros y consisos, los comunicados lo 
			veran todos los usuarios, tanto como operadores como administradores.</p>
			<center>
				<br>
			<p><a href="../messages/new" class="btn btn-primary" role="button">Crear</a> <a href="../messages/" class="btn btn-default" role="button">Ver</a></p>
			</center>
			</div>
			</div>
			</div>
			</div>
		</td>

		<td width="auto">
			
			<div class="row">
			<div class="col-sm-6 col-md-12">
			<div class="thumbnail">
				<br><br>
			<center><font size=50><span class="glyphicon glyphicon-glass"></span></font></center>
			<br>
			<div class="caption">
			<center><h3>ADMINISTRAR PETICIONES</h3></center>
			<br>
			<p style="text-align: justify;">En el modulo de administracion de peticiones, solo los usuarios con privilegios de administradores podran visualizar y en todo caso editar las peticiones de los clientes.</p>
			<center>
				<br>
			<p><a href="../peticiones/view/listpeticions" class="btn btn-primary" role="button">Administrar</a> 
			</center>
			</div>
			</div>
			</div>
			</div>
		</td>

		<td width="auto">
			
			<div class="row">
			<div class="col-sm-6 col-md-12">
			<div class="thumbnail">
				<br><br>
			<center><font size=50><span class="glyphicon glyphicon-user"></span></font></center>
			<br>
			<div class="caption">
			<center><h3>CLIENTES</h3></center>
			<br>
			<p style="text-align: justify;">Recuerda que los comunicados deben ser claros y consisos, los comunicados lo 
			veran todos los usuarios, tanto como operadores como administradores.</p>
			<center>
				<br>
			<p><a href="../clientes/" class="btn btn-primary" role="button">Administrar</a>
			<a href="../clientes/new" class="btn btn-default" role="button">Crear</a></p>
			</p>
			</center>
			</div>
			</div>
			</div>
			</div>
		</td>		
	</tr>
</table>